DJANGO_SECRET_KEY="ecret-key"
DB_NAME=name
DB_USER=user
DB_PASSWORD=password
DB_HOST=db
DB_PORT=5432
AWS_ACCESS_KEY_ID=key
AWS_SECRET_ACCESS_KEY=key
AWS_BUCKET_NAME=name
CELERY_BROKER_URL=redis://redis:6379/1
CELERY_RESULT_BACKEND=redis://redis:6379/1
EMAIL_HOST=smtp.google.com
EMAIL_PORT=587
EMAIL_HOST_USER=noreply@yourdomain.com
EMAIL_HOST_PASSWORD=email-password